* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(95, 95, 95);
  font-size: 18px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: rgb(235, 229, 223);
  height: 100%;
}
.TodoContainer {
  width: 420px;
  background-color: white;
  padding: 50px;
  padding-bottom: 0;
  box-shadow: 0px 5px 25px 2px gray;
  border-radius: 20px;
}
.Date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Date .today-date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Date .today-date .digit-container {
  font-weight: 900;
  font-size: 2.8rem;
  margin-right: 5px;
}
.Date .month-year-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Date .month-year-container .month {
  font-size: 18px;
  font-weight: bolder;
}
.Date .month-year-container .year {
  font-size: 16px;
}
.Date .day {
  font-weight: bolder;
}
.todo-list {
  list-style: none;
  height: 451px;
  overflow-y: auto;
  scrollbar-width: none;
}
.empty-container {
  height: 451px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.empty-container img {
  width: 200px;
  opacity: 0.7;
}
.empty-container h1 {
  font-size: 25px;
}
.todo-list-overflow {
  box-shadow: 0px -10px 20px -20px gray inset, 0px 10px 20px -20px gray inset;
}
.todo-list::-webkit-scrollbar {
  display: none;
}
.todo-list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  transition: background-color 0.5s ease;
  border-radius: 10px;
 
}
.todo-list .item li{
  text-overflow: ellipsis;
  max-width: 14rem;
  white-space: nowrap;
  overflow: hidden;
}
.todo-list .item:hover {
  background-color: rgb(213, 213, 213);
}
.input-container {
  position: relative;
  padding: 30px 0;
}
.input-button {
  position: absolute;
  top: 55.5%;
  left: 35.5%;
  border-radius: 50%;
  border: none;
  background-color: rgba(80, 227, 164, 255);
  padding: 25px 25px;
  cursor: pointer;
   
}
.submit-btn{
  border-radius: 50%;
  border: none;
  background-color: rgba(80, 227, 164, 255);
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.5s background-color;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, background-color 0.5s  ;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, background-color 0.5s  ;
}
.input-button:hover , .submit-btn:hover{
  background-color: rgb(74, 74, 74);
}
.plus {
  font-size: 2.5rem;
  color: rgba(70, 188, 138, 255);
}
.arrow{
  color: rgba(70, 188, 138, 255);
}
.input-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-todo {
  width: 100%;
  border: none;
  border-bottom: 3px solid rgba(70, 188, 138, 255);
  padding: 10px 0;
  background: #fff;
  margin-right: 30px;
}
.new-todo:focus {
  outline: none;
}
